
.details {
    display:flex;
    flex-flow: column;
    margin-bottom: 10px;
    width: 90%;
    flex-grow: 0;
    padding: 8px;
}

.details label {
    font-size: 28px;
}

.dropdown {
    outline: none;
    margin: 8px 0px;
    padding: 4px;
    flex-grow: 0;
    display: inline-block;
    justify-content:left;
    background: rgb(31, 31, 31);
    appearance: none;
    color: whitesmoke;
    font-size: 28px;
  }

  .dropdown select:focus {
    outline: none;
  }

  .stalls {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .stallInput {
    margin : 5px 0px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: transparent;
    min-height: 3em;
  }

  input {
    background-color: transparent;
  }