
.details {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    width: 100%;
    flex-grow: 0;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

.distance {
    font-size: 1.5em;
    text-align: center !important;
    padding: 20px;
}

.dropdown {
    outline: none;
    margin: 8px 0px;
    padding: 4px;
    flex-grow: 0;
    display: inline-block;
    justify-content: left;
    background: rgb(31, 31, 31);
    appearance: none;
    color: whitesmoke;
    font-size: 28px;
}

.dropdown select:focus {
    outline: none;
}

.stalls {
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    width: 100%;
}

.stalls label {
    display: flex;
    justify-content: center;
}

.stallInput {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    background-color: #363333;
    color: transparent;
    min-height: 3em;
    padding: 5px 5px;
    border-radius: 12px;
}

.stallInput label {
    display: flex;
    justify-content: center;
    min-width: 3em;
}

.details input {
    text-align: center;
    max-width: 4em;
    background-color: transparent;
    border-radius: 12px;
}

.details input[type="date"] {
    min-width: 10em;
    margin: 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    appearance: none;

}
