.input {
  background-color: rgb(46, 46, 46);
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 1rem;
  width: 90%;
  max-width: 45rem;
  border-radius: 8px;
}

input {
  font: inherit;
  font-size: larger;
  color: whitesmoke;
  width: 50%;
  outline-color: 1px solid rgb(46, 75, 163);
}

input:focus {
  outline: none;
  outline-color: royalblue;
}

input.invalid {
  outline: solid;
  outline-color: rgb(225, 65, 65);
}
