.add {
    margin: 8px;
    padding: 5px;
    border-radius: 12px;
    color: whitesmoke;
    font-size: 1.5em;
}

.savedQuotes {
    display: flex;
    width: 100%;
}

.savedQuotes ul {
    width: 100%;
}