.actions {
    background-color: #121418;
    height: 55px;
    width: 95%;
    z-index: 999;
    position: fixed;
    top: 0;
    border-radius: 0px 0px 8px 8px;
}

.actions button {
    margin: 8px;
    padding: 5px;
    border-radius: 12px;
    color: whitesmoke;
    font-size: 1.5em;
    align-self: center;
}

.savedQuotes {
    margin-top: 55px;
    display: flex;
    width: 100%;
}

.savedQuotes ul {
    width: 100%;
}