.item {
    background-color: transparent;
}

.buttons {
    border-radius: 8px;
    text-align: left;
}

label {
    margin-right: 8px;
}

.street {
    color: whitesmoke;
}

.not_street {
    color: rgb(115, 120, 120);
}
