.item {
    background-color: transparent;
}

button {
    background-color: rgb(36, 35, 35);
}

label {
    margin-right: 8px;
}

.street {
    color: whitesmoke;
}

.not_street {
    color: rgb(115, 120, 120);
}
