.input {
  background-color: rgb(46, 46, 46);
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: .5rem;
  width: 100%;
  max-width: 50rem;
  border-radius: 12px;
  text-align: start;
}

.input button {
  background-color: transparent;
  width: 100%;
  text-align: left;
  margin: 2px;
}

.input ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.input li {
  align-self: start;
}

.input label {
  font: inherit;
  font-size: larger;
  color: whitesmoke;
  width: 100%;
  text-align: left !important;
  font-size: 1.25em;
}
  
  .input input {
    font: inherit;
    font-size: 1rem;
    color: whitesmoke;
    background-color: #363333;
    width: 100%;
    outline-color: 1px solid rgb(46, 75, 163);
    text-align: start;
  }
  
  .input input:focus {
    outline: none;
    outline-color: royalblue;
  }
  
  .input input.invalid {
    outline: solid;
    outline-color: rgb(225, 65, 65);
  }
  
  .input input:-webkit-autofill,
  .input input:-webkit-autofill:hover,
  .input input:-webkit-autofill:focus,
  .input input:-webkit-autofill:active,
  .input input:-internal-autofill-selected {
    font: inherit;
    font-size: larger;
    color: whitesmoke;
    background-color: rgb(46, 46, 46) !important;
    width: 100%;
    outline-color: 1px solid rgb(46, 75, 163);
  }
  
  .input input:-webkit-autofill, input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #363333 inset;
    -webkit-text-fill-color: whitesmoke !important;
  }
  