.item {
    display: inline-block;
    width: 100%;
}

.lines {
    display: flex;
    flex-direction: row;
}

.buttons {
    border-radius: 8px;
    text-align: left;
}

.end {
    text-align: end !important;
    width: 100%;
    color: #a4a4a8;
}